@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/Auth/_Auth.cshtml";
}


<div class="form-items">
    <h3>Login to account</h3>
    <p>Access your product Repository.</p>

    <form id="account" method="post">
      
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>

    <div class="page-links">
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register new account</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
