
@{ Layout = "_Layout"; ViewBag.Title = "Get Reservation by Id";

    var category = ViewBag.Category;
}

@{
    ViewData["Title"] = "Categories";
    var Categories = ViewBag.Categories;
}

<div class="row">
    <div class="col-md-12">
        <div class="card white-box p-0">
            <div class="card-heading">
                <h3 class="box-title mb-0">Recent Categories</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@category.CategoryId</td>
                                <td>@category.Name</td>
                                <td>@category.CategoryCode</td>
                                <td>@category.IsActive</td>
                            </tr>
                        </tbody>

                    </table>
                    <a asp-action="CreateCategory" class="btn btn-sm btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

